@import "../Styles/variables";
.qr-page{
    margin: 3rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    .qr-wrapper{
        margin: 2rem;
    }
}
.upload{
    color: $blue;
    text-align: center;
    font-size: 6rem;
    margin: 0 auto;
    &:hover {
        color: $dark-blue;
    }
    p{
        font-size: 1.4rem;
    }
    
}

